*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 62.5%; } }

.heading-primary {
  font-size: 3rem;
  padding-right: 5.5rem; }
  @media only screen and (min-width: 31.25em) {
    .heading-primary {
      padding-right: 0; } }

.heading-secondery {
  font-size: 2.5rem; }

.heading-tertiary {
  font-size: 2rem; }

.heading-primary,
.heading-secondery,
.heading-tertiary {
  font-weight: 600;
  color: #444444;
  margin-bottom: 2rem; }

.paragraph {
  font-size: 1.7rem;
  line-height: 1.4;
  margin-bottom: 2rem; }

.right {
  position: absolute;
  top: 6rem;
  right: 1rem; }
  @media only screen and (min-width: 31.25em) {
    .right {
      background-color: #f7f6f5;
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 7rem;
      right: 0;
      height: calc(100vh - 9rem);
      width: 100%; } }

.nav-right {
  padding: 1rem; }
  .nav-right__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    @media only screen and (min-width: 31.25em) {
      .nav-right__list {
        flex-direction: row; } }
  .nav-right__item {
    padding-bottom: 0.5rem; }
    @media only screen and (min-width: 31.25em) {
      .nav-right__item--active {
        border-bottom: 2px solid #2b2b2c; } }
  .nav-right__link:link, .nav-right__link:visited {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #2b2b2c; }
    @media only screen and (min-width: 31.25em) {
      .nav-right__link:link, .nav-right__link:visited {
        font-size: 1rem; } }
    @media only screen and (min-width: 56.25em) {
      .nav-right__link:link, .nav-right__link:visited {
        font-size: 1.4rem; } }
  .nav-right__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    pointer-events: none; }
    @media only screen and (min-width: 31.25em) {
      .nav-right__icon {
        width: 2rem;
        height: 2rem;
        margin-bottom: 0.5rem; } }
    @media only screen and (min-width: 75em) {
      .nav-right__icon {
        width: 3rem;
        height: 3rem; } }
  .nav-right span {
    display: none; }
    @media only screen and (min-width: 31.25em) {
      .nav-right span {
        display: block;
        pointer-events: none; } }

.collapse {
  width: 100%;
  flex: 1 1; }
  @media only screen and (min-width: 31.25em) {
    .collapse {
      width: 100%;
      position: relative; } }
  .collapse__block {
    width: 100%;
    background-color: #f7f6f5;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    transform: translateX(100%);
    transition: transform 1s ease; }
    .collapse__block-1 {
      display: flex;
      flex-direction: column;
      z-index: 21; }
    .collapse__block:target {
      z-index: 22;
      transform: translatex(0);
      height: 100vh; }
    @media only screen and (min-width: 31.25em) {
      .collapse__block {
        padding: 1rem;
        position: absolute;
        transform: translateX(0); }
        .collapse__block:target {
          z-index: 22;
          height: calc(100vh - 15rem); } }
  .collapse__back {
    padding: 1rem;
    border-bottom: 1px solid #2b2b2c;
    margin-bottom: 1rem; }
    @media only screen and (min-width: 31.25em) {
      .collapse__back {
        display: none; } }
  .collapse__content {
    padding: 0 1rem; }
    @media only screen and (min-width: 31.25em) {
      .collapse__content {
        padding: 0; } }
  .collapse__figure {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr max-content; }
    .collapse__figure:not(:last-child) {
      margin-bottom: 2rem; }
  .collapse__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }
  .collapse__caption {
    font-size: 1.7rem;
    padding: 0.5rem 0; }
  .collapse__title {
    border-bottom: 1px solid #2b2b2c;
    padding-bottom: 2rem; }
  .collapse__nav {
    margin-bottom: 4rem; }
  .collapse__list {
    list-style: none; }
  .collapse__item {
    margin-bottom: 1rem; }
  .collapse__link:link, .collapse__link:visited {
    font-size: 1.7rem;
    color: #2b2b2c; }
  .collapse__close {
    font-size: 2.5rem;
    text-decoration: none;
    color: #2b2b2c; }
    @media only screen and (min-width: 31.25em) {
      .collapse__close {
        display: none; } }

.nav-left {
  margin-bottom: 2rem; }
  .nav-left__list {
    list-style: none;
    display: flex; }
  .nav-left__item {
    font-size: 1.7rem; }
    .nav-left__item:not(:last-child) {
      margin-right: 1rem; }
  .nav-left__link:link, .nav-left__link:visited {
    font-size: 1.7rem; }

.header {
  border-bottom: 1.5px solid #464646;
  position: sticky;
  top: 0;
  z-index: 12;
  height: 5rem;
  background-color: #ffffff;
  display: flex;
  align-items: center; }

.logo {
  padding: 0.7rem 3rem;
  display: inline-block;
  background-color: #464646;
  line-height: 1; }

.paragraph__logo {
  font-weight: 400;
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase; }

.main,
.header {
  padding: 1rem; }
  @media only screen and (min-width: 31.25em) {
    .main,
    .header {
      padding: 2rem; } }

@media only screen and (min-width: 31.25em) {
  .main {
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 35vw);
    grid-gap: 1rem; } }

@media only screen and (min-width: 56.25em) {
  .main {
    max-width: 70%;
    grid-template-columns: 1fr minmax(min-content, 25vw); } }
